.pokemon-search-container {
  font-size: 20px;
  margin-top: 20px;
}

.pokemon-search-bar {
  font-size: 25px;
}

.pokemon-search-bar__input-box {
  width: 25%;
  height: 50px;
  font-size: 25px;
  padding-left: 15px;
  text-align: center;
  border-radius: 20px;
  background-color: light-grey;
}

.pokemon-search-bar__search-button {
  width: 100px;
  height: 50px;
  font-size: 25px;
  margin: 12px;
  border-radius: 20px;
  transition: 0.3s all;
  box-shadow: 0 0 10px black;
}

.single-pokemon {
  width: 35%;
  background-color: white;
  margin: auto;
  border: 5px solid rgb(194, 195, 195);
  border-radius: 50px;
}

.single-pokemon__profile {
  margin: 15px 20px;
  height: 220px;
  display: flex;
}

.single-pokemon__profile--image {
  float: left;
}

.single-pokemon__profile--details {
  float: right;
  width: 60%;
}

.profile-col {
  padding: 20px 20px;
  font-size: 20px;
  justify-items: center;
}

.profile-row__attribute {
  display: flex;
  align-items: start;
  justify-items: stretch;
  width: 100%;
  margin-top: 10px;
}

.attribute-title {
  color: rgb(33, 33, 44);
  float: left;
  width: 40%;
  font-size: 20px;
}

.attribute-value {
  float: left;
  color: darkgray;
  width: 60%;
  font-size: 20px;
}

ol,
ul {
  list-style: none;
  padding-inline-start: 0px;
}

.carousel__col {
  margin: 0 25%;
}

.carousel__carousel {
  /* margin-top: 10px 10px; */
  /* width: 50%; */
}

.carousel__carousel--image {
  margin: auto;
  width: 200px;
  height: 200px;
  align-items: center;
  display: flex;
}

.carousel__label {
  color: grey;
  font-size: 15px;
  margin-bottom: 30px;
}

.pokemon-details__attribute {
  font-size: 15px;
  color: red;
  margin: 50px 50px;
  border: 2px solid blueviolet;
}

.pokemon-grid{
  width: 60%;
  margin: auto;
  justify-content: center;
  display: flex;
  /* border: 2px solid red; */
}

.pokemon-grid__title{
  margin: 10px 0;
  color: darkgreen;
}

.pokemon-grid__pokemon-grid{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid blueviolet; */
}
.pokemon-grid__image{
  margin: 10px 10px;
  padding: 10px;
  border: 8px solid darkgreen;
  border-radius: 35px;
  position: relative;
}

.pokemon-preview__image{
  width: 100%;
  position: relative;
}
.pokemon-preview__title{
  color: darkgreen;
}