.pokemon-search-container {
  font-size: 25px;
  margin-top: 30px;
}

.pokemon-search-bar {
  font-size: 25px;
}

.pokemon-search-bar__input-box {
  width: 33%;
  height: 50px;
  font-size: 25px;
  padding-left: 15px;
  text-align: center;
  border-radius: 20px;
  background-color: light-grey;
}

.pokemon-search-bar__search-button {

  width: 100px;
  height: 50px;
  font-size: 25px;
  margin: 12px;


  border-radius: 20px;
  transition: 0.3s all;
  box-shadow: 0 0 10px black;
}